.container{
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: space-between;
    overflow-x: hidden;

}
.container>div>img{
    max-height: 100%;
    max-width: 100%;
    height: 100%;
    /* min-height: fit-content; */
    /* min-width: fit-content; */
}
.box1>div{
    width: 100%;
}
.container>.box1{
    min-width: 60%;
    max-width: 60%;
    gap: 2rem;
    margin-top: 2rem;
    align-items: flex-start;
    padding: 1rem 2rem;
    display: flex;
    /* justify-content: space-around; */
    /* align-items: center; */
    flex-direction: column;
    /* overflow: scroll; */
   
}
.box10{
    background-color: #ED5353;
    border: none;
    border-radius: 3px;
    color: #ffff;
    font-weight: 600;
    font-size: medium;
    padding: 5px 10px;
  
}
.box6{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;
}
.box6>div>select{
    border: 1.84px solid #C2C2C2;
    color: #ADADAD;
    padding: 5px 10px;
    border-radius: 3px;
    
}
.box7{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}
.box7>div{
    align-items: center;
    display: flex;
    background-color: #FFEEEE;
    border-radius: 3px;
    gap: 5px;

}
.box7>div>img{
    border: none;
    border-radius: 0 3px 3px 0px;
    padding: 5px 2px;
   
    max-height: 100%;
    max-width: 80%;
    background-color: #FF6B6B;
}
.box7>div>button{
    border: none;
}
.box3{
    display: flex;
    flex-direction: column;
    /* padding: 0 1rem; */
    gap: 1rem;
    /* align-items: center; */
    font-weight: 600;
    font-size: medium;
}
.box3>div{
    display: flex;
    gap: 3rem;
    justify-content: space-between;
    

}
.box3>div>input{
    color: #ADADAD;
    border: 1.84px solid #C2C2C2;
    border-radius: 5px;
    padding: 5px 10px;
    outline: none;
    width: 50%;

}
.box3>div>select{
    color: #ADADAD;
    border: 1.84px solid #C2C2C2;
    border-radius: 5px;
    padding: 5px 10px;
    outline: none;
}
.box8{
    display: flex;
    gap: 1rem;
}
.box9{
    color: #C2C2C2;
    background-color: #fff;
    border: 0.85px solid #CECECE;
    border-radius: 3px;
    border-radius: 3px;
    font-weight: 600;
    font-size: medium;
    padding: 5px 10px;

}